/* Nunito Sans font */
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
/* Work Sans font */
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Work Sans", sans-serif;
  background: radial-gradient(
      circle at 20% 30%,
      rgba(255, 87, 51, 0.3) 50px,
      transparent 351px
    ),
    radial-gradient(
      circle at 80% 10%,
      rgba(52, 152, 219, 0.3) 30px,
      transparent 331px
    ),
    radial-gradient(
      circle at 90% 60%,
      rgba(155, 89, 182, 0.3) 20px,
      transparent 321px
    ),
    radial-gradient(
      circle at 50% 90%,
      rgba(241, 196, 15, 0.3) 60px,
      transparent 361px
    );

  /* Glassmorphism effect */
  backdrop-filter: blur(10px); /* Adjust blur intensity */
  -webkit-backdrop-filter: blur(10px);
  background-size: cover;
  background-attachment: fixed;
}

/* Media query for mobile screens */
@media (max-width: 768px) {
  body {
    background: radial-gradient(
        circle at 90% 20%,
        rgba(255, 87, 51, 0.2) 50px,
        transparent 200px
      ),
      radial-gradient(
        circle at 10% 80%,
        rgba(241, 196, 15, 0.2) 70px,
        transparent 200px
      );
  }
}
@media (max-width: 1024px) {
  body {
    background: radial-gradient(
        circle at 90% 20%,
        rgba(255, 87, 51, 0.2) 50px,
        transparent 200px
      ),
      radial-gradient(
        circle at 10% 80%,
        rgba(241, 196, 15, 0.2) 70px,
        transparent 200px
      ),
      radial-gradient(
        circle at 60% 60%,
        rgba(105, 241, 15, 0.2) 70px,
        transparent 200px
      );
  }
}
